<%= params[:question] %><br>

<% if @your_message.downcase == "i am going to work right now!" %>
  <p> "Great!"</p>
<%elsif @your_message.end_with?("?") %>
  <p> "Silly question, get dressed and go to work!" </p>
<% else %>
  <p> "I don't care, get dressed and go to work!"</p>
<% end %>


<%= link_to "Ask a new question", ask_path %>
