<h1>Stupid Coaching</h1>

<p>Ask your Coach anything: </p>
<form action="/answer" method="get">
  <input type="text" name="question" placeholder="Enter your question">
  <input type="submit" value="Ask!">
</form>

